@model EmprestimoModel
@{
    ViewData["Title"] = "Adicionar Clientes";
}

<div class="text-center">
    <h1 class="display-4">Registrar Empréstimos</h1>
</div>

<form asp-controller="Emprestimo" asp-action="Registrar" method="post">
    <div class="form-group">
        <label for="nomeUserView">Cliente</label>
        <select asp-for="IdClienteCH" class="form-control">
            @{
                foreach (var cliente in (List<ClienteModel>)ViewBag.ListaClientes_EmEmprestimo)
                {
                    <option value="@cliente.Id">@cliente.Nome</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="nomeUserView">Bibliotecário</label>
        <select asp-for="IdBibliotecarioCH" class="form-control">
            @{
                foreach (var bibliotecario in (List<BibliotecarioModel>)ViewBag.ListaBibliotecarios_EmEmprestimo)
                {
                    <option value="@bibliotecario.Id">@bibliotecario.Nome</option>
                }
            }
        </select>
    </div>

    <label for="nomeUserView">Adicionar Livros</label>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-4">
                <select class="form-control" id="sltLivro">
                    @{
                        foreach (var livro in (List<LivroModel>)ViewBag.ListaLivros_EmEmprestimo)
                        {
                            <option value="@livro.Id">@livro.Nome | @livro.PrecoUnitario </option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" value="1" id="txtQuantidade"/>
            </div>
            <div class="col-lg-3">
                <button type="button" class="btn btn-block btn-primary" onclick="AdicionarLivro()">Adicionar</button>
            </div>
        </div>        
    </div>

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody id="listaLivros">
        </tbody>
    </table>

    <div class="form-group">
        <label for="nomeUserView">Nome Personalizado</label>
        <input type="text" asp-for="NomePersonalizado" class="form-control" placeholder="Digite o apelido para o empréstimo">
        @Html.ValidationMessageFor(x => x.NomePersonalizado)
    </div>

    <button type="submit" class="btn btn-success btn-block">Registrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Emprestimo" asp-action="Index" role="button">Voltar</a>
</form>

<script>
    var Itens = new Object();
    Itens.Livros = new Array();

    var codigoLivro = document.getElementById("sltLivro");
    var QtdeLivro = document.getElementById("txtQuantidade");
    var ListaLivro = document.getElementById("listaLivros");

    function AdicionarLivro() {

        var PrecoUnitario = 0.00;

        if (codigoLivro.value > 0) {
            $.ajax({
                url: '/LocalizarPrecoUnitario',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                type: "GET",
                data: JSON.stringify(controller = "Emprestimo", action = "LocalizarPrecoUnitario"),
                success: function (data) {
                    PrecoUnitario = data.value;
                },
                error: function (error) {
                    loading(0, "");
                }
            });
        }

        Itens.Livros.push({
            "CodigoLivro": codigoLivro.value,
            "DescricaoLivro": codigoLivro.options[codigoLivro.selectedIndex].text,
            "QtDeProduto": QtdeLivro.value,
            "PrecoUnitario": PrecoUnitario.value,
            "Total": "0"
        });

        var produto = "<tr>" +
            "<td>" + codigoLivro.value + "</td>" +
            "<td>" + codigoLivro.options[codigoLivro.selectedIndex].text + "</td>" +
            "<td>" + QtdeLivro.value + "</td>" +
            "<td>" + PrecoUnitario.value + "</td>" +
            "<td>" + codigoLivro.value + "</td>" +
            "<tr>";

        ListaLivro.innerHTML += produto;

    }

</script>