@model EmprestimoModel
@{
    ViewData["Title"] = "Adicionar Clientes";
}

<div class="text-center">
    <h1 class="display-4">Registrar Empréstimos</h1>
</div>

<form asp-controller="Emprestimo" asp-action="Registrar" method="post">
    <div class="form-group">
        <label for="nomeUserView">Cliente</label>
        <select asp-for="IdClienteCH" class="form-control">
            @{
                foreach (var cliente in (List<ClienteModel>)ViewBag.ListaClientes_EmEmprestimo)
                {
                    <option value="@cliente.Id">@cliente.Nome</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="nomeUserView">Bibliotecário</label>
        <select asp-for="IdBibliotecarioCH" class="form-control">
            @{
                foreach (var bibliotecario in (List<BibliotecarioModel>)ViewBag.ListaBibliotecarios_EmEmprestimo)
                {
                    <option value="@bibliotecario.Id">@bibliotecario.Nome</option>
                }
            }
        </select>
    </div>

    <label for="nomeUserView">Adicionar Livros</label>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-4">
                <select class="form-control" id="sltLivro">
                    @{
                        foreach (var livro in (List<LivroModel>)ViewBag.ListaLivros_EmEmprestimo)
                        {
                            <option value="@livro.Id">@livro.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" value="1" id="txtQuantidade" />
            </div>
            <div class="col-lg-3">
                <button type="button" class="btn btn-block btn-primary" onclick="AdicionarLivro()">Adicionar</button>
            </div>
        </div>
    </div>

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody id="listaLivros">
        </tbody>
    </table>

    <div class="form-group">
        <label for="nomeUserView">Nome Personalizado</label>
        <input type="text" asp-for="NomePersonalizado" class="form-control" placeholder="Digite o apelido para o empréstimo">
        @Html.ValidationMessageFor(x => x.NomePersonalizado)
    </div>

    <button type="submit" class="btn btn-success btn-block">Registrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Emprestimo" asp-action="Index" role="button">Voltar</a>
</form>

<script>
    var Itens = new Object();
    Itens.Livros = new Array();

    var codigoLivro = document.getElementById("sltLivro");
    var QtdeLivro = document.getElementById("txtQuantidade");
    var ListaLivro = document.getElementById("listaLivros");
    var PrecoUnitarioView = 0;

    function AdicionarLivro() {
        var DescricaoLivro = codigoLivro.options[codigoLivro.selectedIndex].text;

        var total = (PrecoUnitarioView * QtdeLivro.value);

        Itens.Livros.push({
            "CodigoLivro": codigoLivro.value,
            "DescricaoLivro": DescricaoLivro,
            "QtDeProduto": QtdeLivro.value,
            "PrecoUnitario": PrecoUnitarioView,
            "Total": total
        });

        var produto = "<tr>" +
            "<td>" + codigoLivro.value + "</td>" +
            "<td>" + DescricaoLivro + "</td>" +
            "<td>" + QtdeLivro.value + "</td>" +
            "<td>" + PrecoUnitarioView + "</td>" +
            "<td>" + total + "</td>" +
            "<tr>";

        ListaLivro.innerHTML += produto;

    }

    function BuscarPrecoUnitario(idLivro) {
        // CHAMADA AO MÉTODO CONTROLLER DO MVC ATRAVÉS DO JQUERY
        // Preciso ter o JQUERY REFERENCIADO
        if (idLivro > 0) {
            $.ajax({
                url: '@Url.Action("LocalizarPrecoUnitario", "Emprestimo")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: { 'id': idLivro },
                success: function (precoUnitario) {
                    var preco = precoUnitario;
                    PrecoUnitarioView = preco;
                    return preco;
                },
                error: function () {
                    alert('Ocorreu um erro ao buscar o Preço Unitário');
                }
            });
        }
        else {
            return 0.99;
        }
    }

    (function () {
        document.getElementById('sltLivro').addEventListener('change', function () {
            // APÓS SELECIONAR QUALQUER LIVRO EM Adicionar Livros, VAMOS ATUALIZAR O PREÇO UNITÁRIO DO ITEM

            var idLivro = document.getElementById("sltLivro");
            PrecoUnitarioView = BuscarPrecoUnitario(idLivro.value);
            document.getElementById("txtQuantidade").value = 1;
        })
    })();

    $(document).ready(function () {
        //AQUI CHAMA ESSA FUNÇÃO ASSIM QUE CARREGA A PÁGINA
        var idLivro = document.getElementById("sltLivro");

        PrecoUnitarioView = BuscarPrecoUnitario(idLivro.value);
    });

</script>